<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OAuth Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lapses</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
		<string>rainbow</string>
		<string>trust</string>
		<string>cbwallet</string>
		<string>phantom</string>
		<string>wc</string>
	</array>
</dict>
</plist>
